<%- contentFor('title') %>
<title>Comunidade</title>

<%- contentFor('body') %>

<div class="container">
        
    <div class="search-bar">            
        <input id="titulo" type="text" placeholder="Buscar tópico de fórum...">
        <button id="pesquisar" onclick="filtraPostsTitulo()">Pesquisar</button>
        <button id="filterButton">Filtros</button>
        <div class="dropdown-content" id="dropdownContent">
            <% for (var i=0; i<jogos.length; i++) {%>
                <a href="#" onclick="filtraPosts('<%= jogos[i]["nome"] %>')"><%= jogos[i]["nome"] %></a>
            <% } %>
        </div>
    </div>
    
    <div class="postar">  
        <button id="postar" onclick="window.location.href='/criar-post %>';">Criar Post</button>
    </div>

    <% for (var i=0; i<posts.length; i++) {%>
        <a class="post-link" href="/post/<%= posts[i]["id"]%> %>">
            <div class="post">
                <div class="post-header">
                    <img src=<%= posts[i]["user"]["icon"] %> alt="Imagem do Usuário">
                    <span class="nickname" data-receiver-id="<%= posts[i].user.id %>">
                        <%= posts[i]["user"]["username"] %>
                    </span>
                </div>
                <h2><%= posts[i]["titulo"] %></h2>
                <span class="tags"><%= posts[i]["jogo"] %></span>
                <p><%= posts[i]["texto"] %></p>
                <div class="post-actions">
                    <button class="like"><svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg></button>
                    <button class="comment"><svg class="comment-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M21 6h-18v12h14l4 4z"/></svg></button>
                    <button class="share"><svg class="share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M18 16.08c-.76 0-1.44.3-1.96.77l-7.11-4.07c.05-.25.07-.5.07-.78s-.03-.53-.07-.78l7.09-4.05c.54.5 1.24.83 2.01.83 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .28.04.55.1.81l-7.04 4.02c-.54-.5-1.24-.81-2-.81-1.66 0-3 1.34-3 3s1.34 3 3 3c.77 0 1.47-.31 2.01-.81l7.05 4.04c-.06.26-.1.53-.1.81 0 1.66 1.34 3 3 3s3-1.34 3-3-1.34-3-3-3z"/></svg>
                    </button>
                </div>
            </div>
        </a>
    <% } %>

</div>

<div class="icon-container">
    <div class="chat-icon" id="chatIconConversas">
        <img src="../img/chat.png" alt="Conversas">
    </div>
    <div class="chat-icon" id="chatIconUsuario" style="display:none;">
        <img src="../img/chat.png" alt="Chat Usuario">
    </div>
</div>

<!-- Container para os chats -->
<div class="chat-container">
    <!-- Janela de Conversas -->
    <div class="chat-window" id="chatWindowConversas">
        <div class="chat-header">
            <h4>Mensagens</h4>
            <span id="closeChatConversas">X</span>
        </div>
        <div class="chat-messages" id="chatMessagesConversas">
         <!-- As conversas serão adicionadas aqui dinamicamente -->
        </div>
    </div>

    <!-- Janela de Chat com Usuario -->
    <div class="chat-window" id="chatWindowUsuario">
        <div class="chat-header">
            <h4>Chat com <span id="chatUsername"></span></h4>
            <span id="closeChatUsuario">X</span>
        </div>
        <div class="chat-messages" id="chatMessagesUsuario">
            <!-- Mensagens do chat com usuário serão adicionadas aqui dinamicamente -->
        </div>
        <form id="enviarMessagem" class="chat-input">
            <input type="text" id="messageInput" placeholder="Digite sua mensagem..." required>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>