<%- contentFor('title') %>
<title>Editar</title>

<%- contentFor('body') %>

<div class="container">
        
    <div class="carta-a-venda">
        <div class="input-editar">
            <input class="nome" value="<%= carta["nome"] %>">
        </div>
        <div class="frente-verso-add">
            <img class="carta-grande" src=<%= carta["frente"] %> alt="Frente da carta">
            <img class="carta-grande" src=<%= carta["verso"] %> alt="Verso da carta">
        </div>
        <a class="editar-imagem" href=""></a>
    </div>

    <div class="descricao-produto">
        <h3 class="cabecalho-descricao">Vendedor: </h3>
        <a href="/meus-produtos?user=<%= user["id"] %>">
            <h3 class="descricao"><%= user["username"] %></h3>
        </a>
    </div>

    <div class="descricao-produto">
        <h3 class="cabecalho-descricao">Preço: </h3>
        <input value="GC$ <%= carta["preco"] %>">
    </div>

    <div class="botoes-editar">
        <button class="botao-salvar">Salvar</button>
        <button class="botao-excluir">Excluir</button>
    </div>
</div>