<%- contentFor('title') %>
<title>Perfil</title>

<%- contentFor('body') %>

<div class="container">
        
    <form id="perfil-form" action='http://localhost:8084/updateUsuario' method='put' encType="multipart/form-data">
        <div class="usuario-a-editar">
            <div class="user-icon-perfil" style="margin-bottom: 60px;">
                <h3 class="cabecalho-descricao">Ícone de perfil: </h3>
                <img id="icon-img" src=<%= usuario["icon"] %> alt="User Icon">
            </div>
        </div>

        <div class="descricao-produto">
            <h3 class="cabecalho-descricao">Nome de usuário: </h3>
            <div style="margin-top: auto; margin-bottom: auto;"><%= usuario["username"] %></div>
        </div>
    
        <div class="descricao-produto" style="display: block;">
            <p>Nova senha <input id="senha" type="password" name="senha"></p>
            <p>Confirmar Senha <input type="password" id="confirmar-senha"></p>
        </div>
    
        <div class="botoes-editar">
            <button onclick="alterarSenha()" type="submit" class="botao-salvar">Salvar</button>
        </div>
        <p class="mensagem-sucesso" style="justify-content: center;display: flex;" id="mensagem-sucesso"></p>
        <p id="mensagemErro" style="color: red;justify-content: center;display: flex;"></p>
    </form>
</div>

<input type="hidden" id="usuarioId" value="<%= usuario["id"] %>">