<%- contentFor('title') %>
<title>Editar</title>

<%- contentFor('body') %>

<div class="container">
        
    <div class="usuario-a-editar">
        <div class="user-icon">
            <img src=<%= usuario["icon"] %> alt="User Icon">
        </div>
        <div class="username">
            <%= usuario["username"] %>
        </div>
    </div>
    <div class="descricao-produto">
        <h3 class="cabecalho-descricao">Moedas: </h3>
        <input id="moedas" value="GC$ <%= usuario["moedas"] %>" class="descricao">
    </div>

    <div class="botoes-editar">
        <button class="botao-salvar" onclick="editarUsuario()">Salvar</button>
        <button class="botao-excluir" onclick="excluirUsuario()">Excluir</button>
    </div>
</div>