<%- contentFor('title') %>
<title>Perfil</title>

<%- contentFor('body') %>

<div class="container">
        
    <form id="perfil-form" action='http://localhost:8084/updateUsuario' method='put' encType="multipart/form-data">
        <div class="usuario-a-editar">
            <div class="user-icon-perfil">
                <img id="icon-img" src=<%= usuario["icon"] %> alt="User Icon">
            </div>
            <div class="descricao-produto">
                <h3 class="cabecalho-descricao">Ícone de perfil: </h3>
                <input id="icon-input" class="input-img" type="file" name="filename">
            </div>
        </div>
    
        <div class="descricao-produto">
            <h3 class="cabecalho-descricao">Nome de usuário: </h3>
            <input style="height: 37px;margin-top: auto;margin-bottom: auto;" name="username" class="nome" value="<%= usuario["username"] %>">
        </div>
    
        <div class="descricao-produto">
            <h3 class="cabecalho-descricao">Moedas: </h3>
            <div style="margin-top: auto;margin-bottom: auto;">GC$ <%= usuario["moedas"] %></div>
        </div>
    
        <div class="descricao-produto">
            <h3 class="cabecalho-descricao">Perfil: </h3>
            <div style="margin-top: auto;margin-bottom: auto;"><%= usuario["perfil"] %></div>
        </div>
    
        <div class="botoes-editar">
            <button type="submit" class="botao-salvar">Salvar</button>
            <% if (usuario.perfil == "simples") { %>
                <button type="button" onclick="upgrade()" style="width: 200px;" class="botao-excluir">Torne-se premium</button>
            <% }  %>
            <button class="botao-excluir" onclick="excluirUsuario(event)" data-userid="<%= usuario["id"] %>">Excluir</button>
            </div>
        </div>
        <p id="mensagemErro" style="color: red;justify-content: center;"></p>
    </form>
</div>