<%- contentFor('title') %>
<title>Post</title>

<%- contentFor('body') %>

<div class="postar-container">
    <div class="postar">
        <div class="post-header">
            <img src="<%= post.user && post.user.icon ? post.user.icon : 'default-icon.png' %>" alt="Imagem do Usuário">
            <div class="nickname"><%= post.user && post.user.username ? post.user.username : 'Desconhecido' %></div>
        </div>
        <h2><%= post.titulo %></h2>
        <span class="tags"><%= post["jogo"] %></span>
        <p><%= post["texto"] %></p>
        <div class="post-actions">
            <a href="#comentar">
            <button class="comment-button"><svg class="comment-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M21 6h-18v12h14l4 4z"/></svg>
            </button>
            </a>
        </div>
    </div>

    <div class="comments-section">
        <h3>Comentários</h3>
        <div id="comments">
          <% if (post.comentarios && Array.isArray(post.comentarios)) { %>
            <% post.comentarios.forEach(function(comentario) { %>
              <div class="user-comment">
                <img src="<%- comentario.user.icon %>" alt="<%- comentario.user.username %> Icon" class="user-icon">
                <h2><%- comentario.user.username %>:</h2>
              </div>
              <p><%- comentario.texto %></p>
            <% }); %>
          <% }  %>
        </div>
      </div>

    <div class="comment-form">
        <form id="comentar" class="comment-form" action="http://localhost:8084/post/<%= postId %>" method="POST">
            <input type="hidden" id="post-id" name="postId" value="<%= postId %>">
            <input type="hidden" id="user-id" name="user" value="<%= user["id"] %>">
            <textarea id="comment-text" required name="texto" placeholder="Digite seu comentário"></textarea>
            <button type="submit">Comentar</button>
        </form>
    </div>
</div>