<header class="header">
	<div class="logo">
		<img src="/img/logo.png" alt="Logo"> 
		GrapeCards
	</div>
	<div class="perfil">
		<div class="moedas">
			<div class="simbolo-moeda">
				GC$
			</div>
			<div class="valor-moeda">
				<%= user["moedas"] %>
			</div>
		</div>
		<div class="usuario">
			<div class="user-icon">
				<a class="user-icon-link" href="/perfil?user=<%= user["id"] %>">
					<img src=<%= user["icon"] %> alt="User Icon">
				</a>
			</div>
			<div class="username">
				<%= user["username"] %>
			</div>
		</div>
		<div>
			<button id="increaseFont">A+</button>
			<button id="decreaseFont">A-</button>
		</div>
	</div>    
</div>
</header>

<nav class="nav">
	<a href="/?user=<%= user["id"] %>" class=<%= navclass["produtos"] %>>Produtos</a>
	<a href="/meus-produtos?user=<%= user["id"] %>" class=<%= navclass["meus-produtos"] %>>Meus Produtos</a>
	<a href="/comunidade?user=<%= user["id"] %>" class=<%= navclass["comunidade"] %>>Comunidade</a>
	<a href="#" class="theme-switch">Switch mode</a>
</nav>